  <div class="modal" id="modalUbahPassGuru">
    <div class="modal-content" style="width:min(400px, 90%);">
      <div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:16px;">
        <h3 style="font-size:16px; font-weight:800;">Ubah Password Akun</h3>
        <button style="background:none; border:none; font-size:20px; cursor:pointer; color:var(--text-muted);" onclick="document.getElementById('modalUbahPassGuru').classList.remove('show')">&times;</button>
      </div>
      <div id="alertUbahPass" class="alert"></div>
      <form id="formUbahPassGuru">
        <div class="input-group"><label>Password Lama</label><div class="input-wrapper"><input type="password" id="inPassLama" required></div></div>
        <div class="input-group"><label>Password Baru</label><div class="input-wrapper"><input type="password" id="inPassBaru" required></div></div>
        <button type="submit" class="btn btn-primary" style="width:100%; margin-top:8px;">Simpan Password Baru</button>
      </form>
    </div>
  </div>

