  <div class="modal" id="modalPelanggaran">
    <div class="modal-content" style="text-align:center; border-top:6px solid var(--danger); width:min(400px, 90%);">
      <h3 style="font-size:18px; font-weight:800; color:var(--danger); margin-bottom:8px;"><i class="fa-solid fa-triangle-exclamation"></i> Peringatan Sistem!</h3>
      <p style="font-size:13px; color:var(--text-main); margin-bottom:20px; line-height:1.5;" id="txtPelanggaran"></p>
      <button class="btn btn-danger" style="width:100%;" id="btnPahamPelanggaran">Saya Mengerti</button>
    </div>
  </div>

