/.env
/vendor/
/storage/logs/*.log
/storage/cache/*
/storage/imports/*
/public/assets/uploads/questions/*
!/storage/logs/.gitkeep
!/storage/cache/.gitkeep
!/storage/imports/.gitkeep
!/public/assets/uploads/questions/.gitkeep
/public/assets/uploads/staff-chat/*
!/public/assets/uploads/staff-chat/.gitkeep
/android-app/.gradle/
/android-app/.idea/
/android-app/build/
/android-app/app/build/
/android-app/local.properties
