Options -Indexes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
<FilesMatch "^\.">
  Require all denied
</FilesMatch>

<IfModule mod_php7.c>
  php_value upload_max_filesize 20M
  php_value post_max_size 25M
</IfModule>
<IfModule mod_php.c>
  php_value upload_max_filesize 20M
  php_value post_max_size 25M
</IfModule>

