      <!-- TAB GURU: MONITORING -->
      <div id="tabGuruMonitor" class="dash-tab hidden">
        <div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:24px; flex-wrap:wrap; gap:10px;">
          <div>
            <h2 style="font-size:20px; font-weight:800;">Ujian & Mapel yang Diampu</h2>
            <p style="font-size:12px; color:var(--text-muted);">Memantau nilai siswa dan log pelanggaran sesuai mapel.</p>
          </div>
          <button class="btn btn-secondary" onclick="loadDataGuru()"><i class="fa-solid fa-rotate-right"></i> Refresh</button>
        </div>
        <div id="containerListUjianGuru">
          <div class="alert info">Sedang memuat data ujian dari server...</div>
        </div>
      </div>
    </main>
  </div>

