  <!-- AREA CONTAINER PRINT TERPISAH (KARTU VS LAPORAN) -->
  <div class="print-kartu-only" id="printAreaKartuContainer"></div>

  <div class="print-laporan-only">
    <div class="kop-manual">
      <img class="kop-logo" src="assets/img/logo-man1-palembang.png" alt="Lambang MAN 1 Palembang">
      <div class="kop-text"><h4 id="printKop1">KEMENTERIAN AGAMA REPUBLIK INDONESIA</h4>
      <h3 id="printKop2">KANTOR KEMENTERIAN AGAMA KOTA PALEMBANG</h3>
      <h2 id="printKop3">MADRASAH ALIYAH NEGERI 1 PALEMBANG</h2>
      <p id="printKop4">Jln. Gub. H. Bastari (Jln. Pendidikan), Jakabaring, Palembang, Sumatera Selatan</p></div>
    </div>
    <h3 id="printJudulResmi" style="text-align:center; font-size:14px; font-weight:bold; text-decoration:underline; margin-bottom:15px;">LAPORAN HASIL EVALUASI UJIAN COMPUTER BASED TEST (CBT)</h3>
    <div id="printContentTable"></div>
    <div class="ttd-container">
      <div class="ttd-box">
        <p>Mengetahui,</p>
        <p><b>Kepala Madrasah</b></p>
        <br><br><br><br>
        <p><b id="lblPrintKepsek"><u>.............................................</u></b></p>
        <p>NIP. <span id="lblPrintNipKepsek">.............................................</span></p>
      </div>
      <div class="ttd-box">
        <p>Palembang, <span id="printTanggalTtd">01 September 2026</span></p>
        <p><b>Waka Bidang Kurikulum</b></p>
        <br><br><br><br>
        <p><b id="lblPrintWakur"><u>.............................................</u></b></p>
        <p>NIP. <span id="lblPrintNipWakur">.............................................</span></p>
      </div>
    </div>
  </div>

